/** DIV **/
.footer{
    position: fixed;
    width: 100%;
    height: 397px;
    background-color: #4E008E; /* Primary Color */
    text-align: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/***/

/** IMG **/
img#ft-logo{
    margin-top: 86px;
    /* margin-bottom: 244px; */
    width: 253px;
    height: 67px;
}
/***/

/* MENU */
ul#ft-menu{
    margin-top: 37px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    text-align: center !important;
    justify-content: center !important;
}
/***/

/* MENU ITEMS */
ul#ft-menu li{
    padding-right: 2%;
}
/***/

/* MENU ITEMS */
ul#ft-menu li > a{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
    color:#A73BFF;
    text-decoration: none;
}
/***/
/* MENU ITEMS */
ul#ft-menu li > a:hover{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
    color:#F3F3F3;
}
/***/
/* MENU ITEMS */
ul#ft-menu li > a:focus{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
    color:#2E005B;
}
/***/

/* SOCIAL */
ul#ft-social{
    margin-top: 44px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    text-align: center !important;
    justify-content: center !important;
}
/***/

/* SOCIAL ITEMS */
ul#ft-social li > a{
    font-size: 23px;
    background-color: #A73BFF;
}
/***/

/* SOCIAL ITEMS : hover */
ul#ft-social li > a:hover{
    font-size: 23px;
    background-color: #F3F3F3;
}
/***/

/* SOCIAL ITEMS : focus */
ul#ft-social li > a:focus{
    font-size: 23px;
    background-color: #2E005B;
}
/***/

/* SOCIAL ITEMS */
ul#ft-social li > a > i{
    color: #F3F3F3;
}
/***/

/* SOCIAL ITEMS : hover */
ul#ft-social li > a > i:hover{
    color: #4E008E;
}
/***/

/* SOCIAL ITEMS : focus */
ul#ft-social li > a > i:focus{
    color: #A73BFF;
}
/***/

/* SOCIAL ITEMS */
ul#ft-social li{
    padding-right: 2%;
}
/***/

/* FACEBOOK */
ul#ft-social li > a >i.fa-facebook-f{
    padding: 15px 8px;
}
/***/

/* INSTAGRAM */
ul#ft-social li > a >i.fa-instagram{
    padding:15px 8px;
}
/***/

/* BEHANCE */
ul#ft-social li > a >i.fa-behance{
    padding:15px 8px;
}
/***/

/* BEHANCE */
ul#ft-social li > a >i.fa-behance{
    padding:15px 6px;
}
/***/

/* Pinterest */
ul#ft-social li > a >i.fa-pinterest-p{
    padding:15px 8px;
}
/***/

/* Github */
ul#ft-social li > a >i.fa-github{
    padding:15px 8px;
}
/***/

/* COPYRIGHTS */
p.small.copyright{
    /* position: fixed; */
    text-align: center;
    margin-top: 36px;
}
/***/