/* MAIN MENU DIV */
div.main_menu{
    background-color: #4E008E;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
/***/

/* MAIN MENU */
ul#main_menu{
    margin-top: 3%;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    text-align: center !important;
    justify-content: center !important;
}
/***/

/* MAIN MENU ITEMS */
ul#main_menu li{
    padding-right: 3%;
}
/***/

/* MAIN MENU ITEMS a */
ul#main_menu li > a{
    font-size: 80px;
    font-weight: 700;
    color: #F3F3F3;
    letter-spacing: -5px;
    text-decoration: none;
}
/***/

/* MAIN MENU ITEMS a:hover */
ul#main_menu li > a:hover{
    color: #A73BFF;
}
/***/

/* MAIN MENU BG */
#main_menu_bg{
    background-image: url('./images/huntsman_main_menu_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1416px 480px;
    height: 480px;
    /* width: 1416px; */
}
/***/

/* HERO STYLE */
.hero{
    text-align: left;
    padding-top: 100px;
}
/***/