body {
	background: #4e008e;
    font-family: 'Roboto';
}

.box_position{
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 10%;
}

img{
    padding-top: 10px;
    height: 10%;
    width: 30%;
}

p{
    text-align: center;
    color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;*/
    color: white;
    text-align: center
}