<section class="w-screen h-screen">
  <nav class="flex justify-center pt-9">
    <ul class="flex justify-center">
      <li class="mr-14 font-bold text-7xl" routerLink="/main">home</li>
      <li class="mr-14 font-bold text-7xl" routerLink='work' >work</li>
      <li class="mr-14 font-bold text-7xl" routerLink='about'>about</li>
      <li class="mr-14 font-bold text-7xl" routerLink='contact'>contact</li>
    </ul>
  </nav>
  <article class="pt-32 flex items-center xl:pl-36">
    <div class="bg-fixed pt-24 pb-28 menu-image">
      <h1 class="font-bold text-9xl">Make some noise...</h1>
      <p class="font-normal text-2xl max-w-3xl ml-1 pt-2">As everyone, we like to stand out. We believe that you and your brand strive for the same goal, so let us create something unique for you.</p>
    </div>
  </article>
</section>
