// Section
section{
  background-color: #4E008E;

  // UL
  ul{
    border-bottom: 1px solid #a73bff;

    // Li
    li {
      color: #f8f8f8;
    }

    li:hover {
      text-decoration: line-through #6400b7;
      cursor: pointer;
    }
  }

  // Social
  div.social{

    // hover
    a:hover{
      cursor: pointer;

      // div
      div{
        background-color: #ce9cff;
      }
    }

    // focus
    a:focus{

      // div
      div {
        background-color: #a73bff;
      }

      // icon
      svg.icon {
        .a {
          fill: #f3f3f3;
        }
      }
    }

    // divs
    div{
      background-color: #F3F3F3;

      svg.icon{
        .a {
          fill: #4e008e;
        }
      }
    }
  }

  // Close section
  div.close-section {
    // Close
    a{
      div.close {

        background-color: #f3f3f3;

        // SVG
        svg.close {

          .a,
          .b {
            fill: none;
          }

          .b {
            stroke: #4e008e;
            stroke-linecap: round;
            stroke-width: 2px;
          }
        }
      }
    }
    // hover
    a:hover{
      // div
      div.close:hover{
        background-color: #ce9cff;
      }
    }
    // focus
    a:focus {
      // div
      div.close:focus {
        background-color: #a73bff;

        // svg
        svg.close:focus {

          .a,
          .b {
            fill: none;
          }

          .b {
            stroke: #f3f3f3;
            stroke-linecap: round;
            stroke-width: 2px;
          }
        }
      }
    }

    // Text
    p {
      color: #D097FF;
    }
  }


}
