// Section
section{
  background-color: #4E008E;

  // UL
  ul{
    border-bottom: 1px solid #a73bff;

    // Li
    li {
      color: #f8f8f8;
    }

    li:hover {
      text-decoration: line-through #6400b7;
      cursor: pointer;
    }
  }

  // P Close Menu
  p.close-menu {
    color: #D097FF;
  }

  // Social
  div.social{

    // divs
    div{
      background-color: #F3F3F3;

      svg.icon{
        .a {
          fill: #4e008e;
        }
      }
    }
  }
}
