<section class="bg-[#2C1E1D] w-full">
    <div>
        <div class="pt-12 pb-64">
            <!-- title -->
            <div class="px-6 w-full">
                <div class="flex flex-col gap-2">
                    <h1 class="text-white text-[38px] font-bold">Kernel</h1>
                    <p class="text-white text-base">Brand Identity, Packaging, Website</p>
                </div>
                <div class="pt-6">
                    <p class="text-white text-base">Εμπόριο τρούφας αμυγδάλου</p>
                </div>
            </div>
            <!-- image -->
            <div class="px-6 w-full pt-12">
                <img class="w-full h-auto rounded-2xl" src="assets/images/kernel/kernel-main-image.png" alt="KernelNuts main image with logo" lazyload/>
                <h2 class="text-[#F9B7B3] text-[38px] font-bold -mt-7 leading-[47.77px]">Λίγα λόγια για το brand</h2>
                <p class="text-white text-base pt-2">Ιδρύθηκε το 2004 και δραστηριοποιείται στο εμπόριο ξηρών καρπών. Εμπορεύεται ένα ποιοτικό και ακριβό προϊόν, την τρούφα αμυγδάλου. Στόχος την επιχείρησης είναι μέσα από την ιστοσελίδα της να αναπτύξει την αναγνωρισιμότητα και ταυτότητα της.</p>
            </div>
            <!-- image-2 -->
            <div class="px-6 w-full pt-24">
                <img class="w-full h-auto rounded-2xl" src="assets/images/kernel/kernel-almond-plant-logomarks.png" alt="Almond Plant with Kernel Logomark" lazyload/>
                <h2 class="text-[#F9B7B3] text-[38px] font-bold leading-[47.77px] pt-10">Το δέντρο ως βασική ιδέα για τον σχεδιασμό</h2>
                <p class="text-white text-base pt-2">Η ιστοσελίδα σχεδιάστηκε με στόχο την προώθηση της ήδη υπάρχουσας φιλοσοφίας. Συνδυάζοντας την βασική ιδέα και το ήδη υπάρχον λογότυπο, αναπτύχθηκε το τελικό αποτέλεσμα.</p>
            </div>
            <!-- thanks -->
            <div class="w-full px-6 pt-24">
                <h3 class="text-white text-2xl text-center font-bold">Ευχαριστούμε! 😊</h3>
                <p class="pt-3 text-white text-base text-center">Αν θέλεις μπορείς να δεις περισσότερες δουλειές μας παρακάτω</p>
                <button class="mt-14 w-full h-16 rounded-md border-2 border-white bg-transparent text-white text-base font-bold">Περισσότερα Project</button>
                <button class="mt-3 w-full h-16 rounded-md border-2 border-transparent text-base font-bold text-[#8600F5] hover:underline focus:underline focus:border-[#8600F5]">Επιστροφή στην αρχική</button>
            </div>
        </div>
    </div>
</section>