<section class="bg-work-mb bg-fixed bg-no-repeat bg-contain pl-6 pr-6 pt-20 pb-28 w-screen
                  md:bg-work md:bg-cover flex justify-center md:pt-56"
>
  <section class="max-width-de">
    <article class="grid">
      <h1 class="light font-bold text-6xl md:text-9xl">Building a legacy...</h1>
      <p class="light pt-2 md:pt-5 font-normal text-lg md:text-xl md:max-w-xl">Ideas, shapes, colours, coding and advertising are… the main ingredients to make any idea come to life. We cover all needs both in the digital and physical world by combining appropriate advertising with continuous presence.</p>

      <div class="grid pt-7 gap-6
                  md:grid-cols-2 md:pt-28 md:gap-8
                  lg:grid-cols-3"
      >

        <!-- Oliorama -->
        <div class="w-full bg-oliorama bg-cover bg-center bg-no-repeat md:bg-oliorama-de">
          <div class="mt-4 ml-4 pt-3 pb-3 pl-6 pr-6 bg-irishPurple w-max mb-96">
            <p class="text-white font-bold text-lg">Coming Soon</p>
          </div>
          <div class="bg-indigoLike w-full mt-56 md:mt-56 pl-5 md:pl-8 pr-5 pb-6 pt-3 gap-3">
            <h1 class="light text-lg font-bold md:text-3xl">Oliorama & Co GP</h1>
            <h2 class="light text-xs font-normal opacity-60 md:text-lg">Branding, Web Design (UX/UI), Marketing, Packaging Design</h2>
          </div>
        </div>

        <!-- Ferye Jewellery -->
        <div class="w-full h-full bg-ferye bg-cover bg-center bg-no-repeat">
          <div class="mt-4 ml-4 pt-3 pb-3 pl-6 pr-6 bg-irishPurple w-max mb-96">
            <p class="text-white font-bold text-lg">Coming Soon</p>
          </div>
          <div class="bg-amethyst w-full mt-56 md:mt-56 pl-5 md:pl-8 pr-5 pb-6 pt-3 gap-3">
            <h1 class="light text-lg font-bold text-black md:text-3xl">Ferye</h1>
            <h2 class="light text-xs font-normal text-black opacity-60 md:text-lg">Branding, Web Design (UX/UI), Marketing, Packaging Design</h2>
          </div>
        </div>

        <!-- Orfeas Cinema -->
        <div class="w-full h-full bg-orfeas bg-cover bg-center bg-no-repeat">
          <div class="mt-4 ml-4 pt-3 pb-3 pl-6 pr-6 bg-irishPurple w-max mb-96">
            <p class="text-white font-bold text-lg">Coming Soon</p>
          </div>
          <div class="bg-indigoLike w-full mt-56 md:mt-56 pl-5 md:pl-8 pr-5 pb-6 pt-3 gap-3">
            <h1 class="light text-lg font-bold md:text-3xl">Orfeas Cinema</h1>
            <h2 class="light text-xs font-normal opacity-60 md:text-lg">Brand Identity, Branding, Web Design (UX/UI), Marketing, ERP</h2>
          </div>
        </div>

        <!-- To kati allo -->
        <div class="w-full h-full bg-tokatiallo bg-cover bg-center bg-no-repeat">
          <div class="mt-4 ml-4 pt-3 pb-3 pl-6 pr-6 bg-irishPurple w-max mb-96">
            <p class="text-white font-bold text-lg">Coming Soon</p>
          </div>
          <div class="bg-indigoLike w-full mt-56 md:mt-56 pl-5 md:pl-8 pr-5 pb-6 pt-3 gap-3">
            <h1 class="light text-lg font-bold md:text-3xl">Καφενείον "Το Κάτι 'Άλλο"</h1>
            <h2 class="light text-xs font-normal opacity-60 md:text-lg">Brand Identity, Marketing</h2>
          </div>
        </div>

        <!-- tustore -->
        <div class="w-full h-full bg-tustore bg-cover bg-center bg-no-repeat">
          <div class="mt-4 ml-4 pt-3 pb-3 pl-6 pr-6 bg-irishPurple w-max mb-96">
            <p class="text-white font-bold text-lg">Coming Soon</p>
          </div>
          <div class="bg-indigoLike w-full mt-56 md:mt-56 pl-5 md:pl-8 pr-5 pb-6 pt-3 gap-3">
            <h1 class="light text-lg font-bold text-black md:text-3xl">Tu Store (Clothes)</h1>
            <h2 class="light text-xs font-normal text-black opacity-60 md:text-lg">Branding, Web Design (UX/UI), Marketing</h2>
          </div>
        </div>

        <!-- J2 -->
        <div class="w-full h-full bg-j2 bg-cover bg-center bg-no-repeat">
          <div class="mt-4 ml-4 pt-3 pb-3 pl-6 pr-6 bg-irishPurple w-max mb-96">
            <p class="text-white font-bold text-lg">Coming Soon</p>
          </div>
          <div class="bg-indigoLike w-full mt-56 md:mt-56 pl-5 md:pl-8 pr-5 pb-6 pt-3 gap-3">
            <h1 class="light text-lg font-bold md:text-3xl">J2 Clothes</h1>
            <h2 class="light text-xs font-normal opacity-60 md:text-lg">Branding, Web Design (UX/UI), Marketing</h2>
          </div>
        </div>

      </div>

    </article>

  </section>

</section>

<!-- Contact US -->
<section class="hidden md:flex md:justify-center pt-16  bg-black">
  <div class="grid">
    <h1 class="text-white text-9xl font-bold">At your service! 🪖</h1>
    <div class="flex justify-center items-center">
      <button
        (click)="contact()"
        class="bg-whiteSmoke hover:bg-mauve focus:bg-amethyst focus:text-white pt-9 pb-9 max-w-xl w-full mt-16
                    text-primary font-bold text-xl"
      >
        Επικοινώνησε μαζί μας
      </button>
    </div>

    <p class="pt-9 pb-16 text-whiteSmoke opacity-50 text-sm text-center">Huntsman Studio 💜</p>
  </div>
</section>
