// Section
section.work{
  background-image: url('../../assets/img/work-page-background-mobile.webp');
  background-repeat: no-repeat;
  background-size: contain;
  backface-visibility: hidden;
  // background-attachment: fixed;
}
