<section class="bg-work-mb bg-fixed bg-no-repeat bg-contain pl-6 pr-6 pt-20 pb-28">
  <h1 class="light font-bold text-6xl">Building a legacy...</h1>
  <p class="light pt-2 font-normal text-lg">Ideas, shapes, colours, coding and advertising are… the main ingredients to make any idea come to life. We cover all needs both in the digital and physical world by combining appropriate advertising with continuous presence.</p>
  <div class="grid pt-7 gap-6">
    <!-- Oliorama -->
    <div class="w-full h-full bg-oliorama bg-cover bg-center bg-no-repeat">
      <div class="glass w-full mt-60 pl-5 pr-5 pb-6 pt-3 gap-3">
        <h1 class="light text-lg font-bold">Oliorama & Co GP</h1>
        <h2 class="light text-xs font-normal opacity-60">Branding, Web Design (UX/UI), Marketing, Packaging Design</h2>
      </div>
    </div>
    <!-- Ferye Jewellery -->
    <div class="w-full h-full bg-ferye bg-cover bg-center bg-no-repeat">
      <div class="glass w-full mt-60 pl-5 pr-5 pb-6 pt-3 gap-3">
        <h1 class="text-lg font-bold text-black">Ferye</h1>
        <h2 class="text-xs font-normal text-black opacity-60">Branding, Web Design (UX/UI), Marketing, Packaging Design</h2>
      </div>
    </div>
    <!-- Orfeas Cinema -->
    <div class="w-full h-full bg-orfeas bg-cover bg-center bg-no-repeat">
      <div class="glass w-full mt-60 pl-5 pr-5 pb-6 pt-3 gap-3">
        <h1 class="light text-lg font-bold">Orfeas Cinema</h1>
        <h2 class="light text-xs font-normal opacity-60">Brand Identity, Branding, Web Design (UX/UI), Marketing, ERP</h2>
      </div>
    </div>
    <!-- To kati allo -->
    <div class="w-full h-full bg-tokatiallo bg-cover bg-center bg-no-repeat">
      <div class="glass w-full mt-60 pl-5 pr-5 pb-6 pt-3 gap-3">
        <h1 class="light text-lg font-bold">Καφενείον "Το Κάτι 'Άλλο"</h1>
        <h2 class="light text-xs font-normal opacity-60">Brand Identity, Marketing</h2>
      </div>
    </div>
    <!-- tustore -->
    <div class="w-full h-full bg-tustore bg-cover bg-center bg-no-repeat">
      <div class="glass w-full mt-60 pl-5 pr-5 pb-6 pt-3 gap-3">
        <h1 class="text-lg font-bold text-black">Tu Store (Clothes)</h1>
        <h2 class="text-xs font-normal text-black opacity-60">Branding, Web Design (UX/UI), Marketing</h2>
      </div>
    </div>
    <!-- J2 -->
    <div class="w-full h-full bg-j2 bg-cover bg-center bg-no-repeat">
      <div class="glass w-full mt-60 pl-5 pr-5 pb-6 pt-3 gap-3">
        <h1 class="light text-lg font-bold">J2 Clothes</h1>
        <h2 class="light text-xs font-normal opacity-60">Branding, Web Design (UX/UI), Marketing</h2>
      </div>
    </div>
  </div>
</section>
