<section class="w-screen h-screen bg-black">
  <div class="pt-7 lg:pl-36 sm:pl-6">
    <h1 class="text-white font-bold text-9xl">Talk with us</h1>
    <p class="text-white font-normal text-lg pt-9 max-w-xl sm:max-w-xs">Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο Εδώ εχει κειμενο</p>
    <div class="flex justify-start pt-14">
      <div class="email w-full max-w-sm">
        <p class="pt-4 pl-6 font-normal email text-xl">Email 1:</p>
        <div class="flex items-center">
          <p class="pt-7 pl-6 font-bold text-white text-xl pb-5">receiver@huntsmanstudio.gr</p>
          <div class="copy mt-7 ml-3 mb-5 rounded-full p-1" ngxClipboard [cbContent]="'receiver@huntsmanstudio.gr'">
            <svg
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <defs><style>.a,.b{fill:none;}.b{stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs>
              <path class="a" d="M0,0H24V24H0Z"/>
              <rect class="b" width="12" height="12" rx="2" transform="translate(8 8)"/>
              <path class="b" d="M16,8V6a2,2,0,0,0-2-2H6A2,2,0,0,0,4,6v8a2,2,0,0,0,2,2H8"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="email w-full max-w-sm ml-8">
        <p class="pt-4 pl-6 font-normal email text-xl">Email 2:</p>
        <div class="flex items-center">
          <p class="pt-7 pl-6 font-bold text-white text-xl pb-5">receiver@huntsmanstudio.gr</p>
          <div class="copy mt-7 ml-3 mb-5 rounded-full p-1" ngxClipboard [cbContent]="'receiver@huntsmanstudio.gr'">
            <svg
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <defs><style>.a,.b{fill:none;}.b{stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs>
              <path class="a" d="M0,0H24V24H0Z"/>
              <rect class="b" width="12" height="12" rx="2" transform="translate(8 8)"/>
              <path class="b" d="M16,8V6a2,2,0,0,0-2-2H6A2,2,0,0,0,4,6v8a2,2,0,0,0,2,2H8"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed right-28 bottom-16">
    <p class="text-white font-bold text-6xl pb-4">LinkedIn</p>
    <p class="text-white font-bold text-6xl pb-4">Instagram</p>
    <p class="text-white font-bold text-6xl">Facebook</p>
  </div>
</section>
