<section class="bg-black pl-6 pr-6 pt-14 h-screen md:pt-56">

  <article class="max-width-de w-full">

    <!-- Text -->
    <div class="w-full md:w-4/5 lg:w-full">
      <h1 class="font-bold text-6xl md:text-8xl lg:text-9xl">Talk with us</h1>
      <p class="font-normal text-lg pt-3
        lg:pt-10 lg:text-xl lg:max-w-xl"
    >
      Μπορείς να επικοινωνήσεις μαζί μας στα παρακάτω email για οποιαδήποτε απορία, βοήθεια ή συνεργασία. Θα απαντήσουμε ακόμη και σε μηνύματα αγάπης. 💜😂      </p>
    </div>

    <!-- Mails -->
    <div class="pt-9 grid gap-4
                lg:flex lg:mt-20 lg:gap-8"
    >

      <!-- Mail 1 -->
      <div class="mail grid gap-1 w-full pl-4 py-3
                  md:w-96 md:pb-6"
        (click)="copyText('receiver@huntsmanstudio.gr')"
      >

        <div><p class="font-normal text-xl md:text-2xl">Email:</p></div>
        <div class="md:flex md:items-center md:w-full md:gap-8 md:pt-6">
          <div><h2 class="font-bold text-lg md:text-xl text-white">receiver@huntsmanstudio.gr</h2></div>
          <div class="bg-white bg-opacity-20 w-10 h-10 flex justify-center items-center rounded-full">
            <!-- Copy -->
            <svg
              *ngIf="!copy"
              class="copy-icon cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path class="a" d="M0,0H24V24H0Z"/>
              <rect class="b" width="12" height="12" rx="2" transform="translate(8 8)"/>
              <path class="b" d="M16,8V6a2,2,0,0,0-2-2H6A2,2,0,0,0,4,6v8a2,2,0,0,0,2,2H8"/>
            </svg>
            <!-- Copied -->
            <svg class="copied" *ngIf="copy" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <path class="a" d="M0,0H32V32H0Z"/>
              <path class="b" d="M5,13.722l6.722,6.722L25.167,7" transform="translate(1.574 2.278)"/>
            </svg>
          </div>
        </div>
      </div>

      <!-- Mail 2 -->
      <!-- <div class="mail grid gap-1 w-full pl-4 py-3
                  md:w-96 md:pb-6"
        (click)="copyText('welcome@huntsmanstudio.gr')"
      >

        <div><p class="font-normal text-xl md:text-2xl">Email 2:</p></div>
        <div class="md:flex md:items-center md:w-full md:gap-8 md:pt-6">
          <div><h2 class="font-bold text-lg md:text-xl text-white">welcome@huntsmanstudio.gr</h2></div>
          <div class="bg-white bg-opacity-20 w-10 h-10 flex justify-center items-center rounded-full">
            <svg

              class="copy-icon cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path class="a" d="M0,0H24V24H0Z"/>
              <rect class="b" width="12" height="12" rx="2" transform="translate(8 8)"/>
              <path class="b" d="M16,8V6a2,2,0,0,0-2-2H6A2,2,0,0,0,4,6v8a2,2,0,0,0,2,2H8"/>
            </svg>
          </div>
        </div>

      </div> -->

    </div>

  </article>

  <!-- Social -->
  <article class="hidden md:absolute md:right-7 md:bottom-0">

    <div class="grid gap-6 pt-12 pb-12">
      <h1 class="text-whiteSmoke font-bold text-4xl">
        <a href="https://www.linkedin.com/company/huntsman-studio" target="_blank">LinkedIn</a>
      </h1>
      <h1 class="text-whiteSmoke font-bold text-4xl">
        <a href="https://www.facebook.com/Huntsmanstudiogr" target="_blank">Facebook</a>
      </h1>
      <h1 class="text-whiteSmoke font-bold text-4xl">
        <a href="https://www.instagram.com/huntsmanstudiogr/" target="_blank">Instgram</a>
      </h1>
    </div>

  </article>

</section>
