// Seciton
section {

  .max-width-de{
    @media (min-width: 1536px){
      max-width: 1920px !important;
    }
  }

  // h1
  h1 {
    color: #f3f3f3;
  }

  // P
  p {
    color: #f3f3f3;
  }

  // Mails
  div.mail{
    background-color: #2D2D2D;
  }

  svg.copy-icon:hover{
    .b {
      stroke: #CE9CFF;
    }
  }

  // Copy icon
  svg.copy-icon{
    .a,
    .b {
      fill: none;
    }

    .b {
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5px;
    }

  }

  // Copied
  svg.copied{
    .a,
    .b {
      fill: none;
    }

    .b {
      stroke: #ce9cff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5px;
    }
  }
}
