<section class="bg-[#F5F5F5] w-full h-screen flex justify-center items-center">
    <div class="px-8 lg:px-10 w-full lg:max-w-[1920px]">
        <div class="bg-[url('assets/images/bg-home-vertical-view.svg')] lg:bg-[url('assets/images/bg-home-horizontal-view.svg')] bg-no-repeat bg-contain bg-center w-full h-screen">
            <div class="pt-56 lg:max-w-[900px] lg:pl-14 lg:pt-[28%]">
                <h1 class="text-[#050505] text-[62px] lg:text-[120px] font-bold leading-[56.54px] lg:leading-[109.44px]">{{ 'MainPageTitle' | translate }}</h1>
            </div>
        </div>
    </div>
</section>