// Section
section{
  background-color: #F3F3F3;

  div.main-image{
    width: 1640px;
    height: 559px;
    background-image: url('../../assets/img/huntsman-main.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }
}
