<section class="bg-black pt-7 pb-14 pl-6 pr-6 h-screen md:h-full lg:pt-40 lg:pb-28">

  <article class="max-width-de lg:flex lg:gap-8 h-full">

    <!-- Image -->
    <div class="bg-about-mb bg-cover bg-no-repeat pt-11 pl-4 pb-20 md:pt-28 md:pb-80 lg:hidden">
      <h1 class="text-whiteSmoke text-7xl font-bold break-words">From Thessaloniki with love</h1>
    </div>

    <!-- DE -->
    <div class="hidden lg:block">
      <img class="skg-img" src="assets/img/about-us.webp" alt="Thessaloniki"/>
    </div>

    <!-- About Us -->
    <div class="pt-8 lg:max-w-5xl lg:pt-16">
      <h1 class="hidden lg:block lg:text-8xl font-bold text-whiteSmoke lg:-ml-40">From Thessaloniki with love</h1>
      <h2 class="text-whiteSmoke text-2xl font-bold lg:font-normal lg:text-3xl lg:pt-7">Learn about us and our vision</h2>
      <p class="text-whiteSmoke text-lg font-normal pt-4 md:pt-7 lg:max-w-3xl">Huntsman studio’s goal is to provide a complete package to our client. By adapting innovative ideas of high quality, we encourage creativity and dialogue with the client so as to find the ideal solution for you and your brand.</p>
    </div>
  </article>

</section>
