<section class="bg-black w-screen h-screen">
  <article class="grid grid-cols-2 gap-3 justify-items-center pt-7">
    <div class="skg-img">
      <img src="assets/img/skg.jpg" alt="Thessaloniki"/>
    </div>
    <div class="pt-20">
      <h1 class="-ml-80 font-bold text-9xl text-white">From Thessaloniki with love</h1>
      <p class="-ml-32 pt-7 font-normal text-3xl text-white">Learn about our vision</p>
      <p class="-ml-32 pt-7 font-normal text-lg text-white max-w-2xl">Huntsman studio’s goal is to provide a complete package to our client. By adapting innovative ideas of high quality, we encourage creativity and dialogue with the client so as to find the ideal solution for you and your brand.</p>
    </div>
  </article>
</section>
