// Section
section{
  background-color: #F3F3F3;

  // Article
  article {
    background-color: #4E008E;

    // Logo
    svg.logo {
      width: 14rem;
    }

    svg.logo:hover{
      cursor: pointer;
    }
    svg.logo:focus{
      outline: none;
    }

    // Toglemenu
    div.toglemenu {
      background-color: #A73BFF;
      width: 3rem;
      height: 3rem;
    }
  }
}

// about page
section.about {
  background-color: #000;
}
