// Section
section {
  // background-color: #F3F3F3;

  // Article
  article {
    background-color: #4E008E;
    border-radius: 0px 0px 10px 10px;

    // Logo
    svg.logo {
      width: 14rem;
      .cls-1 {
        fill: #fff;
      }
    }

    // Toglemenu
    div.toglemenu {
      border-radius: 10px;
      background-color: #8600F5;
      width: 3rem;
      height: 3rem;
      .a,
      .b {
        fill: none;
      }

      .b {
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.5px;
      }
    }

    div.zoom-in-zoom-out{
      animation: zoom-in-zoom-out 10s infinite forwards;
      animation-delay: 0.8s;
    }
  }

}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  3% {
    transform: scale(1.5, 1.5);
  }
  5% {
    transform: scale(1, 1);
  }
}
